/* Global styles */
body {
  font-family: 'Arial';
  background-color: #f8f8f8;
  color: black;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Product card styles */
.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
  margin: 20px;
  color:black;
  text-align: center;
  transition: transform 0.3s;
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-card h2 {
  font-size: 1.5em;
  color: #1a237e;
  margin-bottom: 10px;
}

.product-card p {
  font-size: 1em;
  color: black;
  margin-bottom: 15px;
}

.product-card img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
}

.product-card button {
  background-color: #1a237e;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.product-card button:hover {
  background-color: #3949ab;
}
